<!-- # 這表示該模板繼承了名為"layouts/base.html"的父模板。
# 在模板引擎中，可以通過繼承父模板來擴展和定制HTML頁面。 -->
{% extends "layouts/base.html" %}

{% block title %} 😺Dashboard😺 {% endblock %} 

<!-- # 這是另一個模板區塊定義，名為"stylesheets"。
# 在這個區塊中可以放置CSS樣式表，用於定制頁面的外觀和風格。 -->
<!-- # 目前該區塊並沒有包含任何實際的CSS樣式表。這表示該模板的CSS樣式可能是從父模板中引入的，或者是在其他地方引入的。 -->
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


<!-- # 定義名為"content"的模板區塊。在這個區塊中可以放置HTML內容，用於定義網頁的主要內容部分。 -->
{% block content %}


<div class="content">
    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-12"> 
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart" style="height: 500px;">
                <!-- # 字的縮排來自於 card-header -->
                <div class="card-header ">
                    <h5 class="card-category">variation in group comment quantity</h5>
                    <h2 class="card-title">Comment Analysis</h2>
                </div>
                <!-- # 區塊內容的內縮(邊緣留空)來自於 card-body -->
                <div class="card-body">
                    <!-- # 區塊的實際高度來自於 chart-area -->
                    <div class="chart-area">
                        <div id="combining_chart_types"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-12"> 
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category">level of participation in the issue</h5>
                            <h2 class="card-title">Platform Performance</h2>
                        </div>
                        <div class="col-sm-6">
                            <!-- # 標籤表示一個按鈕組，並使用了Bootstrap的按鈕組和按鈕切換的特性。 -->
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <!-- # 這裡有一個巧思，當頁面被縮小，文字會被取代成圖標顯示 -->
                                <label class="btn btn-sm btn-primary btn-simple active" id="00">
                                    <!-- # checked 預設該按鈕被選中 -->
                                    <input type="radio" name="options" checked>
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">issue 1</span>
                                    <!-- # i元素，用於顯示一個具有特定圖標的圖標字體 -->
                                    <span class="d-block d-sm-none"><i class="tim-icons icon-single-02"></i></span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple" id="01">
                                    <input type="radio" class="d-none d-sm-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">issue 2</span>
                                    <span class="d-block d-sm-none"><i class="tim-icons icon-gift-2"></i></span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple" id="02">
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">issue 3</span>
                                    <span class="d-block d-sm-none"><i class="tim-icons icon-tap-02"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartBig2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-12"> 
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart" style="height: 700px;">
                <!-- # 字的縮排來自於 card-header -->
                <div class="card-header ">
                    <h5 class="card-category">The Connection Between Entities and Issues</h5>
                    <h2 class="card-title">Issue Strategies</h2>
                </div>
                <!-- # 區塊內容的內縮(邊緣留空)來自於 card-body -->
                <div class="card-body">
                    <!-- # 區塊的實際高度來自於 chart-area -->
                    <div class="chart-area">
                        <div id="sankey_diagram"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-12"> 
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart" style="height: 700px;">
                <!-- # 字的縮排來自於 card-header -->
                <div class="card-header ">
                    <h5 class="card-category">The Evolution of Overall Discourse Presentation</h5>
                    <h2 class="card-title">Narrative Treegraph</h2>
                </div>
                <!-- # 區塊內容的內縮(邊緣留空)來自於 card-body -->
                <div class="card-body">
                    <!-- # 區塊的實際高度來自於 chart-area -->
                    <div class="chart-area">
                        <div id="treegraph_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-6"> 
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart">
                <div class="card-header ">
                    <h5 class="card-category">Total Shipments</h5>
                    <h2 class="card-title">Performance</h2>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="modelComparison"></canvas>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart">
                <div class="card-header ">
                    <h5 class="card-category">Total Shipments</h5>
                    <h2 class="card-title">Horizontal Bar Chart</h2>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="horizontal_bar_chart"></canvas>
                    </div>
                </div>
                
            </div>
        </div>
    </div>



    <div class="row">
        <div class="card card-chart" style="height: 450px;">
            <div class="card-header">
                <h5 class="card-category">The relationships among users on a social media platform.</h5>
                <h2 class="card-title">Social Network Graph</h2>
            </div>
            <!-- 新增 row 类，确保 col-lg-* 类可以正常工作 -->
            <div class="row">
                <div class="col-lg-5">
                    <!-- 网络图的容器 -->
                    <div id="network" style="height: 400px;"></div>
                </div>
    
                <div class="col-lg-5">
                    <!-- 饼图的容器，保持现有标题 -->
                    <div id="pie"></div>
                </div>
            </div>
        </div>
    </div>
    



    <div class="row">
        <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
        <div class="col-12"> 
            <!-- # 圓角的底部背景來自於 card card-chart -->
            <div class="card card-chart">
                <!-- # 字的縮排來自於 card-header -->
                <div class="card-header ">
                    <h5 class="card-category">Total Shipments</h5>
                    <h2 class="card-title">Bubble Chart</h2>
                </div>
                <!-- # 區塊內容的內縮(邊緣留空)來自於 card-body -->
                <div class="card-body">
                    <!-- # 區塊的實際高度來自於 chart-area -->
                    <div class="chart-area">
                        <canvas id="bubbleChart_Category" height="70px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>



 

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Shipments</h5>
                    <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartLinePurple"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Daily Sales</h5>
                    <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,50000€</h3>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="CountryChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Completed Tasks</h5>
                    <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartLineGreen"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}

# 定義了一個名為"javascripts"的區塊，在這個區塊中可以放置JavaScript代碼
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--<script>: 這是HTML中用來引入JavaScript代碼的標籤
# 初始化一個名為demo.initDashboardPageCharts()的函數。
# 該函數的作用是初始化網頁中的各種圖表、統計數據等元素，以便在頁面加載完成後呈現給用戶。
$(document).ready(function () {...});: 這是jQuery庫中的方法，用於在DOM準備就緒後執行指定的JavaScript代碼
/static/assets/js/_site_dashboard_free/assets/js/dashboard-free.js.map
C:\Code\Project_1\black-dashboard-django-master\apps\static\assets\js\black-dashboard.js.map-->
<!-- <script src="C:/Code/Project_1/black-dashboard-django-master/apps/static/assets/demo/demo_modify.js"></script> -->

<!-- 要先引入，下一行才能使用?!為何不能寫在一起
是為了確保在執行 $(document).ready() 函式之前已經引入了需要的 JavaScript 文件嗎? -->



<script>
    $(document).ready(function () {
        // Javascript method's body can be found in "../../static/assets/demo/demo_modify.js""
        // demo.initDashboardPageCharts();
        demo_modify_function.initDashboardPageCharts();
        // drawNetworkGraph(),
        // drawHeatmap();
    });
</script>

<script src="../../static/assets/demo/da_dashboard_function.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- Load d3.js 執行這個可以 3小區塊與 Heatmap, NetworkGraph都有顯示-->
<script src="https://d3js.org/d3.v4.js"></script>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<!-- 創建 density heatmap 需要這麼多套件嗎? -->
<!-- https://stackoverflow.com/questions/34225518/create-density-heatmap-chart-using-jquery-with-array-of-data -->
<!-- https://jsfiddle.net/aznt8vh6/ -->
<!-- highcharts.js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/heatmap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highcharts-contour@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/delaunay-fast@latest"></script> 
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- 創建 Density heatmap 需要的套件 -->
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- 創建 heatmap 需要的套件 -->
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>


<!-- Treegraph chart -->
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/treegraph.js"></script>

<!-- Sankey diagram -->
<script src="https://code.highcharts.com/modules/sankey.js"></script>

<!-- Combining chart types -->
<script src="https://code.highcharts.com/modules/series-label.js"></script>



{% endblock javascripts %}