<!-- # 這表示該模板繼承了名為"layouts/base.html"的父模板。
# 在模板引擎中，可以通過繼承父模板來擴展和定制HTML頁面。 -->
{% extends "layouts/base.html" %}

{% block title %} 😺Dashboard😺 {% endblock %} 

<!-- # 這是另一個模板區塊定義，名為"stylesheets"。
# 在這個區塊中可以放置CSS樣式表，用於定制頁面的外觀和風格。 -->
<!-- # 目前該區塊並沒有包含任何實際的CSS樣式表。這表示該模板的CSS樣式可能是從父模板中引入的，或者是在其他地方引入的。 -->
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


<!-- # 定義名為"content"的模板區塊。在這個區塊中可以放置HTML內容，用於定義網頁的主要內容部分。 -->
{% block content %}
    <div class="content">
        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-12"> 
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">(h5)Total Shipments</h5>
                                <h2 class="card-title">(h2)Performance</h2>
                            </div>
                            <div class="col-sm-6">
                                <!-- # 標籤表示一個按鈕組，並使用了Bootstrap的按鈕組和按鈕切換的特性。 -->
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <!-- # 這裡有一個巧思，當頁面被縮小，文字會被取代成圖標顯示 -->
                                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                        <!-- # checked 預設該按鈕被選中 -->
                                        <input type="radio" name="options" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Model Accuracy</span>
                                        <!-- # i元素，用於顯示一個具有特定圖標的圖標字體 -->
                                        <span class="d-block d-sm-none"><i class="tim-icons icon-single-02"></i></span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                        <input type="radio" class="d-none d-sm-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Model Loss</span>
                                        <span class="d-block d-sm-none"><i class="tim-icons icon-gift-2"></i></span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                                        <input type="radio" class="d-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">AUC ROC Curve</span>
                                        <span class="d-block d-sm-none"><i class="tim-icons icon-tap-02"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-12"> 
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <!-- # 字的縮排來自於 card-header -->
                    <div class="card-header ">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h2 class="card-title">(h2)Performance</h2>
                    </div>
                    <!-- # 區塊內容的內縮(邊緣留空)來自於 card-body -->
                    <div class="card-body">
                        <!-- # 區塊的實際高度來自於 chart-area -->
                        <div class="chart-area">
                            <canvas id="bubbleChart_Category" height="70px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-6"> 
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h2 class="card-title">(h2)Performance</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="modelComparison"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-6">
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h2 class="card-title">horizontal_bar_chart</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="horizontal_bar_chart"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>










        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-6"> 
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h2 class="card-title">(h2)Performance</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <div id="heatmap"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-6">
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h2 class="card-title">horizontal_bar_chart</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <div id="network" style="width: 450px; height: 220px;"></div>                   
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>




        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-12"> 
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="bubbleChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- TEMP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 -->
        <div class="row">
            <!-- # 標籤表示一個佔滿12個行寬度的列的開始。 -->
            <div class="col-9"> 
                <!-- # 圓角的底部背景來自於 card card-chart -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="temp_bar_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- TEMP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 -->



        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">(h5)Total Shipments</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLinePurple"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Daily Sales</h5>
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,50000€</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="CountryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Completed Tasks</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>




<!-- D:\git-repos\test\black-dashboard-django-master\apps\static\assets\demo\demo.js -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Total Shipments</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLinePurple"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Daily Sales</h5>
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="CountryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Completed Tasks</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>








{% endblock content %}

# 定義了一個名為"javascripts"的區塊，在這個區塊中可以放置JavaScript代碼
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--<script>: 這是HTML中用來引入JavaScript代碼的標籤
# 初始化一個名為demo.initDashboardPageCharts()的函數。
# 該函數的作用是初始化網頁中的各種圖表、統計數據等元素，以便在頁面加載完成後呈現給用戶。
$(document).ready(function () {...});: 這是jQuery庫中的方法，用於在DOM準備就緒後執行指定的JavaScript代碼
/static/assets/js/_site_dashboard_free/assets/js/dashboard-free.js.map
C:\Code\Project_1\black-dashboard-django-master\apps\static\assets\js\black-dashboard.js.map-->
<!-- <script src="C:/Code/Project_1/black-dashboard-django-master/apps/static/assets/demo/demo_modify.js"></script> -->

<!-- 要先引入，下一行才能使用?!為何不能寫在一起
是為了確保在執行 $(document).ready() 函式之前已經引入了需要的 JavaScript 文件嗎? -->



<script>
    $(document).ready(function () {
        // Javascript method's body can be found in "../../static/assets/demo/demo_modify.js""
        // demo.initDashboardPageCharts();
        demo_modify_function.initDashboardPageCharts(),
        // drawNetworkGraph(),
        drawHeatmap();
    });
</script>

<script src="../../static/assets/demo/demo_modify.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- Load d3.js 執行這個可以 3小區塊與 Heatmap, NetworkGraph都有顯示-->
<script src="https://d3js.org/d3.v4.js"></script>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
{% endblock javascripts %}